.img-news-list {
  background-color:red;
  height:90px;
  margin:auto;
  background-position:center;
  background-size:100% auto;
}

.category-news-list {
  font-family:Montserrat, sans-serif;
  font-size:18px;
  color:black;
  margin-bottom:0px;
}

.title-news-list {
  font-family:Montserrat, sans-serif;
  font-size:28px;
  color:black;
}

.news-list-underline {
  background-color:#e1e1e1;
  color:#e1e1e1;
  height:2px;
  margin-top:0px;
  margin-bottom:0px;
}

.col-underline-news-list {
  margin-top:5px;
  margin-bottom:5px;
}

